<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="text-center">
            <p class="h4">Sales report</p>
    </div>
    <div class="p-3 mt-5">
        <div class="row">
            <div class="col-auto">From : {{fromdate}}</div>
            <div class="col-auto mx-2">To : {{todate}}</div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th >Si.no</th>
                    <th >Order number</th>
                    <th >Username</th>
                    <th>Total amount</th>
                    <th>Payment mode</th>
                    <th>Order status</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{d.ordernumber}}</td>
                    <td>{{d.user.username}}</td>
                    <td>{{d.totalamount}}</td>
                    {% if d.paymentmode == 'cod' %}
                    <td>Cash on delivery</td>
                    {% else %}
                    <td>Paypal</td>
                    {% endif %}
                    <td>{{d.status}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>